<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:form.select additionalAttributes="{onchange: '{onchange}'}"
               property="{name}"
               prependOptionLabel="{prependOptionLabel}"
               id="{id}">

    <f:for as="option" each="{options}">
        <f:form.select.option
                additionalAttributes="{f:if(condition: '{option.disabled} == 1', then: '{disabled: \" disabled\"}', else: '')}"
        value="{option.key}">{option.value}</f:form.select.option>
    </f:for>

</f:form.select>

</html>