<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

	<f:section name="content">
		<h1>Single View for Car</h1>

		<f:flashMessages />
		<f:render partial="Car/Properties" arguments="{car:car}" />
		<f:link.action pageUid="{settings.listPid}" addQueryString="1" addQueryStringMethod="GET"  action="list">Back to list</f:link.action>
		<f:link.action pageUid="{settings.singlePid}" action="new">New Car</f:link.action>
	</f:section>
</html>