<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="description">
    <f:translate key="tx_testexample_domain_model_car.description"/>
</label><br/>
<f:form.textfield property="description"/>
<br/>

<label for="make">
    <f:translate key="tx_testexample_domain_model_car.make"/>
</label><br/>
<f:render partial="Filter/Select"
          arguments="{name: 'make.0', options: '{makes}', prependOptionLabel: '-- Alle Hersteller --',
                  onchange: '' }"/>
<br/>

<label for="model">
    <f:translate key="tx_testexample_domain_model_car.model"/>
</label><br/>
<f:render partial="Filter/Select"
          arguments="{name: 'model.0', options: '{models}', prependOptionLabel: '-- Alle Modelle --',
                  onchange: '' }"/>
<br/>

</html>